/* Navbar */
.navbar {
    background-color: #ffffff;
    color: #000000;
    font-family: bodoni;
    font-size: 19px;
    border-radius: 0;
    justify-items: center;
    padding: 0 20px;
}

.navbar-brand {
    color: #000000;
    font-family: Bodoni Moda;
    font-size: 37px;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}
body {
    font-family: bodoni;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
}
/* Main content styles */
#main {
    background-color: 	#ffffff;
    margin-top: 65px;
    padding: 20px;
    text-align: center;
    text-align: justify;
    color: #000000;
    font-family: bodoni;
    font-size: 20px;
}

#home {
    background-image: url("images/bookstack.jpg");
    background-size :cover;
    background-blend-mode: overlay;
    background-color: #000000bc;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    color: #AD974F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about h2{
    font-family: Bodoni Moda;
}
#abttxt  {
    color:#000000;
    font-size: 18px;
    padding-top:50px;
    padding-left: 20px;
    padding-right: 7px;
    align-items: left;
}
#abtimg{
    background-image: url(images/book.jpg);
    background-size :cover;
    background-repeat: no-repeat;
    background-position: center;

}


#contact {
    padding-left: 50px;
    background-color: #000000;
    height: 100%;
    color: #ffffff;
}
#contact p{
    font-size:16px;
}

/* Footer styles */
footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    width: 100%;
    height: 60px;
}

footer p {
    margin: 0;
    font-size: 15px;
    color: #000000;
}

footer a{
    font-size: 14px;
    color: #000000;
}

@media only screen and (max-width :440px) {
    #home {
        background-image: url("images/bookstack.jpg");
        background-size :cover;
        background-blend-mode: overlay;
        background-color: #000000bc;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        text-align: center;
    }

    #abttxt {
        margin: 20px;
        height: 100%;
        padding:5px;
        color: #000000;
        font-size: 14px;
        flex-grow: 0;
    }

    #contact {
        padding-left: px;
        background-color: #000000;
        height: 100%;
    }
    #contact p{
        font-size:16px;
    }
}